# ===================================================================
# CẤU HÌNH BIẾN MÔI TRƯỜNG - BACKEND AINA PHARMACY
# ===================================================================

DATABASE_URL="mysql://root:root@localhost:3306/ql_thuoc_dev"
CONG_SERVER=4000
KHOA_BI_MAT_JWT="yourkeyhere"

GEMINI_API_KEY="your_google_gemini_api_key_here"
GROQ_API_KEY="your_groq_api_key_here"

SEPAY_MERCHANT_ID="SP-EXAMPLE-MERCHANT"
SEPAY_SECRET_KEY="spsk_live_example_key"
SEPAY_ENV="SANDBOX"
SEPAY_API_TOKEN="your_sepay_api_token_here"
BANK_ID="VietinBank"
BANK_ACCOUNT_NO="unkown"
BANK_ACCOUNT_NAME="unkown"
